@charset "UTF-8";
/* CSS Document */



body {
  font-family: '游ゴシック', YuGothic, sans-serif;
  margin: 0;
  cursor: url(./imges/cc.svg), auto;


}


/* ヘッダー */
.site-header{
  background: rgba(248,226,207,0.5);
    display: flex;
    padding: 10px 20px ;
    position: fixed;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
    height: 10%;
}

.site-header.transform{
    background: rgba(255,255,255,0);
    padding: 10px;
}

.site-logo img{

}
.gnav__menu{
    display: flex;
    font-family:

}
ul {
  list-style-type:  none;
}
.gnav__menu__item{
    margin-left: 20px;
}
.gnav__menu__item a{
    color: #A76000;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.hero{
    max-height: 100%;
    overflow: hidden;

}
.hero img{
  margin-bottom: 220px;
    height: auto;
    width: 100%;
}
.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}
.content p{
    margin-bottom: 40px;
}

/* フッター */

.site-footer{
    background: #FDF6F0;
    padding: 80px 0;
}
.copyright{
    color: #000000;
    font-size: 12px;
    text-align: center;
}

.address p {
  display: inline-block;
  margin-left: 100px;

}
.address{
  margin: auto;
}

.fot_logo{
  text-align: left;
}

.fot_logo img{
  margin-left: 100px;

}


/* ABOUT */

#c_about {
  text-align: center;
  text-decoration: underline;
  margin: 0 0 81px;
  font-family: 'Lato', sans-serif;
}
.about {
  margin: 10px 40px 200px;
  background-color: #FDF6F0;
  max-height: 100%;
  overflow: hidden;


}

.about p {
  text-align: center;
  font-size: 17px;
  line-height: 40px;
  padding-top: 25px;
}

/* 自然画像*/


.imges_s {
  margin-left: 200px;
  margin-bottom: 100px;
}

.imges_s img {
  width: 100%;
 }

/* NEWS */
#c_news{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 80px;
  font-family: 'Lato', sans-serif;
}
.msr_newslist02 {
  width: 100%;
  margin-bottom: 20px;
}
.msr_newslist02 li {
  font-size: 14px;
  background-color: #FFFFFF;
}
.msr_newslist02 li:nth-child(odd) {
  background-color: #FFFFFF;
}
.msr_newslist02 li a {
  box-sizing: border-box;
  color: #000000;
  display: table;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
}
.msr_newslist02 li a:hover {
  text-decoration: none;
  background-color: #FFFFFF;
}

.msr_newslist02 li div {
  display: table-cell;
  width: 144px;
}
.msr_newslist02 li p {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}

/* 時間の設定 */
.msr_newslist02 li time {
  display: table-cell;
  vertical-align: top;
  width: 90px;
}

/* カテゴリの設定 */
.msr_newslist02 li .cat01,
.msr_newslist02 li .cat02 {
  background-color: #F5C6AA;
  border-radius: 1px;
  color: #000000;
  font-size: 9px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
}
.msr_newslist02 li .cat02 {
  background-color: #F5C6AA;
}
/* NEWSボタン(MORE) */

.msr_btn a {
  text-align: center;
  background-color: #FFFFFF;
  border:1px solid #999999;
  border-radius: 2px;
  color: #333333;
  display: block;
  font-size: 8px;
  padding: 14px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 70px;
  margin: auto;
  margin-bottom: 100px;
  font-family: 'Lato', sans-serif;

}

/* マウスオーバー */
.msr_btn a:hover {
  background-color: #F5C6AA;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

/* PRODUCT */
#c_product{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 80px;
  font-family: 'Lato', sans-serif;
}

.product {
  background-color:#FDF6F0;
  margin: 10px 40px 70px;
  max-height: 100%;
  overflow: hidden;
  height: 600px;
}

.product_t{

  padding-top: 45px;
  padding-left: 100px;
  padding-right: 20px;
}

.product_t h3 {
  font-size: 40px;

}

.product_t p {
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    padding-top: 20px;


  }

.image_p {
max-width: 100%;
display: flex;
}

  .image_p img{
    margin: auto;
    margin-right: 0;
    margin-left: 100px;
    margin-top: 50px;

  }

  /*product btn*/
  .msr_btn a {
    text-align: center;
    background-color: #FFFFFF;
    border:1px solid #999999;
    border-radius: 2px;
    color: #333333;
    display: block;
    font-size: 8px;
    padding: 14px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    width: 70px;
    margin: auto;
    margin-bottom: 100px;
    font-family: 'Lato', sans-serif;

  }

  /* マウスオーバー */
  .msr_btn2 a {
    text-align: center;
    background-color: #FFFFFF;
    border:1px solid #999999;
    border-radius: 2px;
    color: #333333;
    display: block;
    font-size: 8px;
    padding: 14px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    width: 100px;
    margin-left: auto;
    margin-right: 30px;

  }
  .msr_btn2 a:hover {
    background-color: #FDF6F0;
    color: #000000;
  }
/*画像*/

.imge_ms{
  display: flex;
  margin-bottom: 150px;

}

.momo{
  margin: auto;
  margin-right: 30px;
}

.sakura{
  margin: auto;
  margin-left: 30px;
  margin-top: 250px;
}


/*文字の動き*/
.box p {
  -webkit-transition: all 1s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.box p.move {
  -webkit-transform: translate(-10px, 0);
  opacity: 0;
}
